<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1 ">EAT-DA-BURGER</span>
</nav>


<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="card-header text-center">
          NEED TO EAT
        </div>

        <ul class="list-group list-group-flush text-center">
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger eat=true}}
          {{/unless}}
          {{/each}}
        </ul>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <div class="card-header text-center">
          DEVOURED BURGERS
        </div>
        <ul class="list-group list-group-flush text-center">
          {{#each burgers}}
          {{#if devoured}}
          <li>{{burger_name}}</li>
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="card-header text-center">
          ADD A BURGER
        </div>

        <form class="create-form">
          <div class="form-row">
            <div class="col">

              <input type="text" id="new" name="name">

            </div>
            <div class="col">
              <button type="submit" class="btn btn-warning">Add Burger</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>